/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Universal tags */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

ul,li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

section {
  padding-top: 20px;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: transparent;
  position: relative;
  position: fixed;
  width: 100%;
  z-index: 9;
}

  
header.header--dark {
  background-color: var(--color-pink);
}


header .header__logo a{
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

header .header__menu {
  display: flex;
  padding: 8px 0;
}

header .header__menu li {
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  color: var(--color-white);
  padding: 8px 12px;
  font-size: var(--font-regular);
}

header .header__menu li:first-child {
  border: 1px solid var(--color-white);
}

header .header__menu li:hover {
  background-color: var(--color-dark-pink);
}

header .header__toggleBtn {
  position: absolute;
  top: 24px;
  right: 32px;
  padding: 1px 6px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* HOME */
#home {
 background-image: url("../images/home-background.png"); 
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 padding-top: 100px;
}

#home .profile {
  text-align: center;
  transition: opacity 1s;
}

#home .profile .img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
  overflow: hidden;
}

#home .profile .img img {
  width: 100%;
}

#home .profile h1,
#home .profile h2,
#home .profile .btn {
  color: var(--color-white);
}

#home .profile .btn {
  border: 2px solid var(--color-white);
  padding: 8px 12px;
  border-radius: var(--size-border-radius);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
  margin: 24px;
}

/* ABOUT */
#about .inner {
  text-align: center;
}

#about .subject {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

#about .subject .visual {
  width: 170px;
  height: 170px;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
  text-align: center;
  
}

#about .subject .visual:hover i{
  color: var(--color-pink);
  transform: scale(1.1) rotate(-30deg);
}

#about .subject .visual i {
  font-size: 70px;
  color: var(--color-blue);
  line-height: 170px;
  transition: var(--animation-duration);
}

#about .subject .title,
#about .subject .description {
  color: var(--color-dark-grey);
}

#about .subject .description {
  font-size: var(--font-small);
}

#about .institute {
  display: flex;
  align-items: center;
}

#about .institute .img {
  width: 80px;
  height: 80px;
}

#about .institute .img img {
  width: 100%;
}

#about .institute .text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 16px;
  color:var(--color-light-grey);
}

#about .institute .text .title {
  margin: 4px 0;
  font-size: var(--font-small);
}

#about .institute .text .date {
  font-size: var(--font-micro);
}

/* SKILLS */
#skills {
  background-color: var(--color-yellow);
}

#skills h1,
#skills h2,
#skills p {
  text-align: center;
}

#skills .skillset {
  display: flex;
  margin-top: 20px 0;
}

.skillset .title {
  text-align: center;
  font-weight: 400;
  line-height: 1em;
  color:var(--color-white);
  font-size: var(--font-regular);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skillset__left .skill {
  margin-bottom: 32px;
}

.skillset__left .skill__name {
  display: flex;
  justify-content: space-between;
  color: var(--color-light-white);
}

.skillset__left .skill .bar {
  width: 100%;
  background-color: var(--color-grey);
  height: 3px;
}

.skillset__left .skill .bar .value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
  text-align: center;
  color: var(--color-light-white);
  background-color: var(--color-light-grey);
}

.skillset__right .tools {
  background-color: var(--color-grey);
  padding: 20px;
}

.skillset__right .etc {
  background-color: var(--color-light-grey);
  padding: 20px;
}

.skillset__right .description {
  margin: 16px 0;
  line-height: 1.7em;
}

/* WORK */
#work {
  text-align: center;
}

#work .btn {
  margin: 40px;
}

#work .btn button {
  padding: 8px 48px;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
}

#work .btn button:first-child,
#work .btn button:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

#work .btn button:first-child .number,
#work .btn button:hover .number {
  top: 0;
  opacity: 1;
}

#work .btn .number {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--color-orange);
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  color: var(--color-white);
  position: relative;
  top: -20px;
  left: 4px;
  transition: var(--animation-duration) ease-in;
  opacity: 0;
}

#work .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#work .projects li {
  background-color: var(--color-light-white);
  width: 270px;
  height: 250px;
  margin: 2px;
  position: relative;
  cursor: pointer;
}

#work .projects li.invisible {
  display: none;
}

#work .projects li:hover .description{
  opacity: 0.8;
  transform: translateY(0);
}

#work .projects li .description::after{
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-white);
  position:absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#work .projects li .description {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top:0;
  left: 0;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0;
  line-height: 3em;
  transform: translateY(10px);
  transition: var(--animation-duration) ease-in;
}

#work .projects li .img {
  width: 100%;
  height: 100%;
}

#work .projects li img {
  max-width: 100%;
  max-height: 100%;
}

/* TESTIMONIALS */
#testimonials {
  background-color: var(--color-light-white);
}

#testimonials h1,
#testimonials h3 {
  text-align: center;
}

#testimonials .text {
  margin: 40px;
}

.testimonial {
 display: flex;
 margin: 32px 0;
 
}

.testimonial .img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 40px;
  flex-shrink: 0;
}

.testimonial .img:last-child {
  margin-right: 0;
  margin-left: 40px;
}

.testimonial .img img {
  width: 100%;
  height: 100%;
}

.testimonial__text {
  background-color: var(--color-white);
  padding: 18px;
  text-align: center;
  border-radius: var(--size-border-radius);
}

.testimonial__text p {
  margin: 4px 0;
  color: var(--color-light-grey);
}

.testimonial__text p .name {
  color: var(--color-pink);
}

/* FOOTER */
footer {
  background-color: var(--color-pink);
  color: var(--color-white);
}

footer h1,
footer h2,
footer p {
  color:var(--color-white);
}

footer > .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h1 {
  margin: 32px 0;
}

footer .links {
  margin: 24px 0;
  display: flex;
  justify-content: center;
}

footer .links li a {
  font-size: var(--font-large);
  color:var(--color-white);
  
}

footer .links li i {
  transition: var(--animation-duration) ease-in;
}

footer .links li:hover i {
  color: var(--color-yellow);
  transform: scale(1.1);
}

footer .links li:first-child {
  margin-right: 15px;
}

footer p {
  margin: 4px 0;
}

footer p small {
  line-height: 1em;
  font-weight: 400;
  font-size: 18px;
}

.arrow-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  background-color: var(--color-pink);
  color: var(--color-white);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* Responsive */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-pink);
  }

  header nav {
    width: 100%;
  }

  header .header__menu {
    margin-top: 20px;
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  header .header__menu li {
    width: 100%;
  }

  header .header__menu.clicked {
    display: block;
  }

  header .header__toggleBtn {
    display: block;
  } 

  #about .subject {
    flex-direction: column;
    align-items: center;
  }

  #about .subject .subject__detail {
    margin-bottom: 38px;
  }

  #skills .skillset {
    flex-direction: column;
  }

  #work .projects li {
    flex-grow: 1;
  }

  .testimonial .img {
    width: 80px;
    height: 80px;
  }
}